.link {
    textDecoration: none;
    width: 300px;
    height: 40px;
    display: inline-block;
    font-size: 25px;
}

.links {
    background-color: deepskyblue;
    height: 40px;
}

.linkBlock{
    float: right;
    width: 1200px;
}

a {
    text-decoration: none;
    color: white;
  
}